// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~font-awesome/scss/font-awesome.scss";

@import "~jqtree/jqtree";

@import "~select2/dist/css/select2.min.css";

.navbar {
  background-color: $navbar-dark-color;
  padding: .35rem 1rem;
}

.navbar-brand,
.navbar-text {
  color: $navbar-brand-color;
}

.navbar-nav .nav-link {
  color: $navbar-link-color;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
  color: $navbar-hover-color;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex: 1;
}

table {
  cursor: pointer;
}

.node_title {
  font-style: italic;
  font-weight: bold;
  color: #1C4257;
}

#message__warning {
  margin-top: 1.5rem;
}

// jqtree loader

.jqtree-tree .jqtree-loading > div .jqtree-title:after {
  content: url(spinner.gif);
  margin-left: 8px; }

#tree1.jqtree-loading:after {
  content: url(spinner.gif); }

// spinner
/* Animation keyframes - you need to add prefixes */
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}

.loading {
  position: absolute;
  width: 28px;
  height: 28px;
}

.loading .spinner {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 26px;
  height: 26px;
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.loading .mask {
  width: 12px;
  height: 12px;
  overflow: hidden;
}

.loading .maskedCircle {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  border: 3px solid #666;
}