// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~font-awesome/scss/font-awesome.scss";

@import "~jqtree/jqtree";

.navbar {
  background-color: $navbar-dark-color;
  padding: .35rem 1rem;
}

.navbar-brand,
.navbar-text {
    color: $navbar-brand-color;
}

.navbar-nav .nav-link {
    color: $navbar-link-color;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: $navbar-hover-color;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex: 1;
}

table {
  cursor: pointer;
}

.node_title {
  font-style: italic;
  font-weight: bold;
  color: #1C4257;
}

#message__warning {
  margin-top: 1.5rem;
}

// jqtree loader

.jqtree-tree .jqtree-loading > div .jqtree-title:after {
  content: url(spinner.gif);
  margin-left: 8px; }

#tree1.jqtree-loading:after {
  content: url(spinner.gif); }