// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~font-awesome/scss/font-awesome.scss";

@import "~jqtree/jqtree";

.navbar {
  background-color: $navbar-dark-color;
  padding: .35rem 1rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex: 1;
}

.employee-content {
  display: flex;
  min-height: 85vh;
  flex-direction: column;
}

.employee_table {
  flex: 1;
  table {
    cursor: pointer;
  }
}

.node_title {
  font-style: italic;
  font-weight: bold;
  color: #1C4257;
}